body {
  background-color: rgb(27, 28, 27);
  margin: 0;
}

/* header */
.bottom-divider {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 4rem;
  box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.35);
  border-bottom: 2px solid black;
}

.top-divider a {
  color: rgb(177, 255, 181);
  text-decoration: none;
  border-left: 1px solid rgba(197, 245, 197, 0.461);
  border-bottom: 1px solid rgba(197, 245, 197, 0.461);
}

.bottom-divider a {
  margin-right: 13rem;
  color: rgb(177, 255, 181);
  text-decoration: none;
  border-left: 1px solid rgba(197, 245, 197, 0.461);
  border-bottom: 1px solid rgba(197, 245, 197, 0.461);
}

.bottom-divider a:hover {
  color: rgb(98, 253, 129);
}

.summary-info {
  display: flex;
  width: 100%;
}

/* logo */

.bouncy-img {
  width: 10rem;
  aspect-ratio: 16/10;
}

/* title */

h1 {
  margin-left: 7rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: lighter;
  font-size: 2.5rem;
  color: rgb(177, 255, 181);
}

/* pdf */

.btn {
  position: absolute;
  right: 8rem;
  transform: translateY(-1.5rem);
  height: 2rem;
  background-color: rgb(237, 200, 11);
  color: black;
  font-size: 1.2rem;
  border-radius: 15%;
  box-shadow: rgba(0, 0, 0, 0.35) 1px 5px 15px;
  cursor: pointer;
}

.centered-items {
  display: flex;
}

/* image */

.tree-img {
  transform: translate(2rem, 1rem);
  max-width: 20rem;
  height: 18rem;
}

/* Description */

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-right: 9rem;
}

.fascinating-words {
  width: min(30rem, 100%);
  font-size: 1.2rem;
  line-height: 2rem;
  color: rgb(177, 255, 181);
}

/* Extra link  */
.aside-info {
  width: 40%;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  float: right;
  box-shadow: inset 5px 0 5px -5px #29627e;
  font-style: italic;
}

.aside-text {
  font-family: monospace;
}

/* Social media  */
.top-divider {
  position: fixed;
  bottom: 0;
  padding: 0.8rem;
  width: 100vw;
  display: flex;
  justify-content: space-around;
}
