body {
  background-color: rgb(27, 28, 27);
}

.bottom-divider {
  position: absolute;
  right: 0;
  top: 0;
  border-bottom: 2px solid black;
}

.spaced-items {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: end;
  width: 60rem;
  height: 4rem;
  box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.35);
}

.spaced-items a {
  margin-right: 13rem;
  color: rgb(177, 255, 181);
  text-decoration: none;
  border-left: 1px solid rgba(197, 245, 197, 0.461);
  border-bottom: 1px solid rgba(197, 245, 197, 0.461);
}

.spaced-items a:hover {
  color: rgb(98, 253, 129);
}
